{% extends 'base.html.twig' %}
{% block body %}
    <form method="post">
        {% if error %}
            <div class="header">
                <a href="{{ path('app_homepage') }}">
                    Accueil
                                    
                </a>
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        {% endif %}
        {% if app.user %}
            <div class="header">
                <a href="{{ path('app_homepage') }}">
                    Accueil
                                    
                </a>
                <div class="logged">
                    Vous êtes connecté.e en tant que : 
                                        
                    {{ app.user.userIdentifier }}
                </br>
                <a href="{{ path('app_logout') }}">
                    Se déconnecter 
                                    
                </a>
            </div>
        </div>
    {% endif %}
    <div class="header">
        <a href="{{ path('app_homepage') }}">
            Accueil
                                                            
                                        
                    
        </a>
    </div>
    <h1 class="h3 mb-3 font-weight-normal">
        Connexion
                                                        
                                            
                            
            
    </h1>
    <div class="form">
        <label for="inputEmail">
            Email : 
                                                                            
                                                            
                                        
                    
        </label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">
                Mot de passe :  
                                                                                                
                                                                            
                                                    
                            
            </label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Se connecter
                                                                                                                                        
                                                                                                            
                                                                            
                                            
                    </button>
                </div>
            </form>
        {% endblock %}
        