{% extends 'base.html.twig' %}
{% block body %}
    <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>
    <div class="example-wrapper">
        <h1>
            Ajouter un nouveau produit :    
        </h1>
        <div class="form">
            {{ form_start(formProduit) }}
            {{ form_row(formProduit.name, {label: 'Nom : '}
            ) }}
            {{ form_row(formProduit.description, {label: 'Description : '}
            ) }}
            {{ form_row(formProduit.quantity, {label: 'Quantité : '}) }}
            <button type="submit">
                Ajouter
            </button>
            {{ form_end(formProduit) }}
        </div>
    </div>
    <button type="button" onclick="location.href='{{ path('app_homepage') }}'">
        Accueil 
    </button>
{% endblock %}
